<div style="padding-top:8%" fxFlex fxLayoutAlign="center center">
  <md-card fxLayoutGap="20px" fxFlex fxFlex.xs="70" fxFlex="30" fxFlexAlign="center">
    <md-card-header align="center">
      <span style="font-size: 1.5em; margin-bottom: 5px;align-content:center" fxFlexAlign="center">Login</span>
    </md-card-header>
    <md-card-content>
      <md-input-container>
        <input mdInput ngModel name="name" placeholder="Username" required>
      </md-input-container>
      <md-input-container>
        <input mdInput ngModel name="password" type="password" placeholder="Password" required>
      </md-input-container>
    </md-card-content>
    <md-card-actions align="center">
      <button md-raised-button class="primary">Login</button>
    </md-card-actions>
  </md-card>
</div>
