@import '~@angular/material/core/theming/all-theme';

@include mat-core();

$primary: mat-palette($mat-green);
$accent: mat-palette($mat-blue);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

.dark-theme {
  $dark-primary: mat-palette($mat-blue);
  $dark-accent: mat-palette($mat-red);

  $dark-theme: mat-light-theme($dark-primary, $dark-accent);

  @include angular-material-theme($dark-theme);
}
