<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme" style="position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;">

  <md-toolbar color="primary">
    <span>Angular Material</span>

    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>

    <button md-icon-button [mdMenuTriggerFor]="themeMenu">
      <md-icon>more_vert</md-icon>
    </button>

  </md-toolbar>

  <md-sidenav-container fxFlex>
    <md-sidenav mode="side" opened>

      
          <md-nav-list>
            <md-list-item *ngFor="let user of users" (click)="selectedUser = user" [routerLink]="child2" >
              <md-icon svgIcon="avatars:{{user.avatar}}" class="avatar"></md-icon>
              <span>{{user.name}}</span>
            </md-list-item>
          </md-nav-list>
       

    </md-sidenav>
    <div class="content" fxLayout="row" fxLayout.sm="column" fxLayoutGap="16px">

    <router-outlet name="child1"></router-outlet>
    <router-outlet name="child2"></router-outlet>
    </div>
  </md-sidenav-container>

  <md-menu #themeMenu x-position="before">
    <button md-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </md-menu>

  <button md-fab (click)="openAdminDialog()" class="fab-bottom-right">
    <md-icon>add</md-icon>
  </button>

</div>
